#include <stdio.h>
#include <iostream>
using namespace std;

void ascending(double x[]){
	int i, j, num;
	for(i = 0; i < sizeof(x) - 1; i++){
		for(j = i; j < sizeof(x) - 1; j++){
			if(x[i] > x[j]){
				num = x[i];
				x[i] = x[j];
				x[j] = num;
			}
		}
	}
}
int main(void){
	double x[ ] = {2.5, 1.5, 4.0, 7.0, 3.5, 6.5, 8.5, 1.0}; 
	ascending(x);
	for(int l = 0; l <= sizeof(x) - 1; l++){
		printf("%f \n", x[l]);
	}
	system("pause");
	return 0;
}
